<h4>
  <center>Edit Profile</center>
</h4>
<br>

<div class="d-flex justify-content-center">
  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
  </svg>
</div>
<br>
<h5><center><%= user.data.nama %></center></h5>
<br>

<div class="d-flex justify-content-center">
  <div class="card" style="width: 400px; height: 320; background-color: white;">
      <div class="card-body">
          <form method="POST" action="/edit-profile/<%= user._id %> ">
              <input type="hidden" class="form-control" name="nu" value="<%= user.data.nu %>" required>
              <input type="hidden" class="form-control" name="periode" value="<%= user.data.periode %>" required>
              <input type="hidden" class="form-control" name="ranting" value="<%= user.data.ranting %>" required>
              <input type="hidden" class="form-control" name="pendidikan" value="<%= user.data.pendidikan %>" required>
              <input type="hidden" class="form-control" name="kader" value="<%= user.data.kader %>" required>
              <div class="form-group">
                  <label>Nama Lengkap</label>
                  <input type="name" class="form-control" name="nama" value="<%= user.data.nama %>" required>
              </div>
              <div class="form-group">
                  <label>Nomor Telepon/WA</label>
                  <input type="phone" class="form-control" name="phone" value="<%= user.data.phone %>" required>
              </div>
              <div class="form-group">
                  <label>Alamat Lengkap</label>
                  <input type="address" class="form-control" name="alamat" value="<%= user.data.alamat %>" required>
              </div>
              <div class="form-group">
                  <label>Tempat Tanggal Lahir</label>
                  <input type="place" class="form-control" name="ttl" value="<%= user.data.ttl %>" required>
              </div>
             
              <div class="form-group">
                  <label>Pendidikan/Pekerjaan Saat Ini</label>
                  <input type="text" class="form-control" name="pendidikanSkrng" value="<%= user.data.pendidikanSkrng %>" placeholder="Pendidikan/Pekerjaan Saat Ini" required>
              </div>

              <div class="form-group">
                <label>Riwayat Pelatihan Pengkaderan</label>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="makesta" value="Makesta" name="makesta">
                            <label class="form-check-label" for="makesta">
                              Makesta
                            </label>
                        </div>
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Tahun" name="makestaTahun">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="lakmud" value="Lakmud" name="lakmud">
                            <label class="form-check-label" for="lakmud">
                              Lakmud
                            </label>
                        </div>
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Tahun" name="lakmudTahun">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="lakud" value="Lakud" name="lakud">
                            <label class="form-check-label" for="lakud">
                              Lakud
                            </label>
                        </div>
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Tahun" name="lakudTahun">
                    </div>
                </div>
              </div>
              <div class="form-group">
                  <label>Pelatihan Yang Pernah Diikuti</label>
                  <input type="paragraph" class="form-control" class="form-control" name="pelatihan" value="<%= user.data.pelatihan %>" placeholder="Pelatihan">
              </div>
              <div class="text-center">
                  <button type="submit" class="btn btn-success container">Simpan</button>
              </div>
          </form>
      </div>
  </div>
</div>