<h3><center>Data Anggota PAC IPPNU Wates</center></h3>
<br>
<h5>Ranting</h5>
<form method="POST" action="/ippnu-filter">
    <div class="form-group">
        <label for="rating">Periode</label>
        <select class="form-control" id="rating" name="periode">
          <option>Semua</option>
          <option>2013-2015</option>
          <option>2016-2018</option>
          <option>2019-2021</option>
          <option>2022-2024</option>
        </select>
    </div>

    <div class="form-group">
        <label for="ranting">Ranting</label>
        <select class="form-control" id="ranting" name="ranting">
        <option>Semua</option>
          <option>Mojorejo</option>
          <option>Purworejo</option>
          <option>Ringinrejo</option>
          <option>Sukorejo</option>
          <option>Sumberarum</option>
          <option>Tugurejo</option>
          <option>Tulungrejo</option>
          <option>Wates</option>
        </select>
    </div>
    
    <button type="submit" class="btn btn-success">Filter</button>
</form>


<div class="d-flex justify-content-center">
    <div>
        <div class="column">
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Nama</th>
                    <th scope="col">TTL</th>
                    <th scope="col">Ranting</th>
                    <th scope="col">Periode</th>
                    <th scope="col">Detail</th>
                    </tr>
                </thead>
                <% users.forEach(user => { %>
                <tbody>
                    <tr>
                    <th scope="row">1</th>
                    <td><%= user.data.nama %></td>
                    <td><%= user.data.ttl %></td>
                    <td><%= user.data.ranting %></td>
                    <td><%= user.data.periode %></td>
                    <td><a class="btn btn-success" href="/edit-profile/<%= user._id %> ">Detail</a></td>
                    </tr>
                </tbody>
                <% }) %>
            </table>
        </div>
    </div>
</div>