<h3><center>Data Ranting <%= nu %>  Wates</center></h3>
<br>
<div class="d-flex justify-content-center">
    <div>
        <div class="column">
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Ranting &emsp; &emsp; </th>
                    <th scope="col">Jumlah</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">1</th>
                    <td>Mojorejo</td>
                    <td><%= ranting.mojorejo %></td>
                    </tr>
                    <tr>
                    <th scope="row">2</th>
                    <td>Purworejo</td>
                    <td><%= ranting.purworejo %></td>
                    </tr>
                    <tr>
                    <th scope="row">3</th>
                    <td>Ringinrejo</td>
                    <td><%= ranting.ringinrejo %></td>
                    </tr>
                    <tr>
                    <th scope="row">4</th>
                    <td>Sukorejo</td>
                    <td><%= ranting.sukorejo %></td>
                    </tr>
                    <tr>
                    <th scope="row">5</th>
                    <td>Sumberarum</td>
                    <td><%= ranting.sumberarum %></td>
                    </tr>
                    <tr>
                    <th scope="row">6</th>
                    <td>Tugurejo</td>
                    <td><%= ranting.tugurejo %></td>
                    </tr>
                    <tr>
                    <th scope="row">7</th>
                    <td>Tulungrejo</td>
                    <td><%= ranting.tulungrejo %></td>
                    </tr>
                    <tr>
                    <th scope="row">8</th>
                    <td>Wates</td>
                    <td><%= ranting.wates %></td>
                    </tr>
                    <tr>
                    <th scope="row">#</th>
                    <td><strong>Total</strong></td>
                    <td><strong><%= ranting.total %></strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>